# Project place file
/stargather.rbxlx
/build.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally files
Packages
DevPackages
wally.lock

# VSCode seetings file
.vscode

# TODO file
TODO.md